@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

body{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	background-color: #f4f4f4;
}
/*-----navbar-----*/
.navbar-change{
	background-color: transparent;
	border: none;
	padding: 5px 0px;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	background-color: #6CB5AC;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-header .navbar-toggle:hover{
	background-color: #BCCEB8;
}
/***-----HERO------*/
.heroIntro{
	background: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
}
.heroMessage{
	color: #FFF;
	padding: 10% 10%;
	text-align: right;
}
.heroMessage h1{
	font-size: 6em;
	padding: 0 0 0.5em 0;
	font-family: "Pacifico", cursive;
	text-align: left;
}
.tipeo{
	text-align: center;
    font-size: 2.5em;
    margin-bottom: 4%;
}
.socialText{
	text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
}
/********aboutSection******/
.perfil{
	background-image: url(../img/example.jpg);
	background-position: 30% 30%;
	background-repeat: no-repeat;
	height: 20em;
	cursor:pointer;
}
.aboutText{
	padding: 5% 6% 0% 6%;
	font-size: 1.2em;
	text-align: justify-all;
}
.youtube:hover{
	color: #834F65;
	font-weight: bold;
	text-decoration: line-through;
}
.youtube:visited{
	color: #834F65;
	font-weight: bold;
}
#changeWord{
	font-size: 2.8em;
	font-weight: bold;
	padding: 6% 0%;
}
#changeWord span{
	color: #834F65;
	margin-left: 2%;
}
/*-----Habilidades---*/
.hab{
	background-image: url(../img/cubes.png);
	background-repeat: repeat;
}
.hab p:first-child{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2em;
} 
.power {
	font-size: 3em;
	text-transform: uppercase;
}
.power i{
	margin-left: 22px;
}
.icon-hab{
	padding: 2% 3%;
}
.iconos{
	display: inline-block;
	width: 24%;
	padding: 2%;
}
/*-----PROJECT-----*/
.imgProject{
	width: 100%;
	border-radius: 8px;
}
.tab-content .tab-pane {
	padding: 5% 4%;
}
.portfolio-item {
    margin-bottom: 25px;
}
.card {
	cursor: pointer;
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card .back {
  background: #eaeaed;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  color: #777;
  font-size: 2em;
  text-transform: uppercase;
}
.col-sm-4 .card .back {
	font-size: 1.3em;
}
/*-----contact------*/
.borderContact{
	border-left: 1px solid #777;
}
/*-----footer----*/
.ending{
	background-color: #2a344e;
	color: #fff;
	padding: 2% 0%;
	text-align: center;
}
.ending i {
	margin: 0% 2% 0% 0;
	font-size: 1.2em;
}