@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

body{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	background-color: #f4f4f4;
}
/*-----navbar-----*/
.navbar-change{
	background-color: transparent;
	border: none;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-header .navbar-toggle:hover{
	background-color: #BCCEB8;
}
/***-----HERO------*/
.heroIntro{
	background: url(../img/top-bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
}
.heroMessage{
	color: #FFF;
	padding: 15% 10%;
	text-align: right;
}
.heroMessage h1{
	font-size: 6em;
	padding: 0 0 0.5em 0;
	font-family: "Pacifico", cursive;
	text-align: left;
}
.heroMessage h2{
	text-align: left;
	margin-left: 5%;
}
.socialText{
	text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
}
/********ABOUT*******/
.perfil{
	background-image: url(../img/example.jpg);
	background-position: 30% 30%;
	background-repeat: no-repeat;
	height: 20em;
	cursor:pointer;
}
.aboutText{
	padding: 5% 6% 0% 6%;
	font-size: 1.2em;
	text-align: justify-all;
}
.youtube:hover{
	color: #834F65;
	font-weight: bold;
	text-decoration: line-through;
}
#changeWord{
	font-size: 2.8em;
	font-weight: bold;
	padding: 6% 0%;
}
#changeWord span{
	color: #834F65;
	margin-left: 2%;
}
/*-----Habilidades---*/
.skill{
	background-image: url(../img/cubes.png);
	background-repeat: repeat;
}
.skill p:first-child{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2em;
} 
.power {
	font-size: 3em;
	text-transform: uppercase;
}
.power i{
	margin-left: 22px;
}
.icon-hab{
	padding-right: 3%;
	padding-left: 3%;
}
.iconos{
	display: inline-block;
	width: 24%;
	padding: 2%;
}
/*-----PROJECT-----*/
.imgProject{
	width: 100%;
	border-radius: 8px;
}
.tab-content .tab-pane {
	padding: 5% 4%;
}
.portfolio-item {
    margin-bottom: 25px;
}
.card {
	cursor: pointer;
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card .back {
  background: #eaeaed;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  color: #777;
  font-size: 2em;
  text-transform: uppercase;
}
.col-sm-4 .card .back {
	font-size: 1.3em;
}
/*-----contact------*/
.borderContact{
	border-left: 1px solid #777;
}
/*-----footer----*/
.ending{
	background-color: #484d60;
	color: #fff;
	padding: 3% 0%;
	text-align: center;
}
.ending i {
	margin: 0% 3% 0% 0;
	font-size: 1.4em;
}

/****media***/
@media (max-width: 1024px){
    .navbar-brand{
    	padding: 5px 30px;
    }
}
@media (max-width: 982px){
	.socialText{
		letter-spacing: 0px;
	}
	.heroMessage h1{
		font-size: 5em;
	}
}
@media (max-width: 882px){
	.heroMessage{
		padding: 8%;
	}
}
@media (max-width: 768px){
	/*---NAVBAR---*/
	.navbar-change{
		padding: 0px;
	}
	/* ***HERO**/
	.heroMessage{
		padding: 10% 6%;
	}
	/*-----about----*/
	
	/******PROYECTOS*****/
	.card{
		width: 70%;
	}
	.imgProject{
		width: 70%; 
	}
	/****SKILL***/
	.iconos{
		width: 48%;
	}
	/******CONTACTO****/
	.borderContact{
		border-left: none;
	}
}
@media (max-width: 640px){
	/******NAVBAR*****/
	.navbar-brand img {
		display: none;
	}
	.navbar-brand{
    	padding: 5px 20px;
    }
    /****HERO**/
	.heroMessage {
		text-align: center;
	    padding: 6% 4% 10% 4%;
	}
	.heroMessage h1{
		text-align: center;
		padding: 0 0 0.3em 0;
		font-size: 4em;
	}
	.heroMessage h2{
		text-align: center;
		margin-left: 0;
	}
    /****ABOUT**/
    #changeWord{
		font-size: 2em;
	}
    /***SKILL***/
    #skill p:first-child{
		font-size: 1em;
	}
    .power {
		font-size: 2em;
	}
    /*****PROYECTOS***/
    .col-sm-6 .card .back{
    	font-size: 1.3em;
    }
}
@media (max-width: 640px){
	.heroMessage h1{
		font-size: 3em; 
	}
}