@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");
@import url('https://fonts.googleapis.com/css?family=Bangers');

body{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

/*-----navbar-----*/
.navbar-change{
	background-color: transparent;
	border: none;
	padding: 5px 0px;
}
.navbar-default .navbar-nav > li > a{color: #fff;}
.navbar-default .navbar-nav > li > a:hover{
	color: #6CB5AC;
	font-weight: bold;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-header .navbar-toggle:hover{
	background-color: transparent;
}
/***-----HERO------*/
.heroIntro{
	background: url(../img/hero-bg.jpg);
	background-color: #777;
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
}
.heroMessage{
	color: #FFF;
	padding: 10% 10%;
	text-align: right;
}
.heroMessage h1{
	font-size: 6em;
	padding: 0 0 0.5em 0;
	font-family: "Pacifico", cursive;
	text-align: left;
}
.tipeo{
	text-align: center;
    font-size: 2.5em;
    margin-bottom: 4%;
}
.socialText{
	text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-align: center;
}
/********aboutSection******/
.perfil{
	background-image: url(../img/example.jpg);
	background-position: 30% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20em;
	cursor:pointer;
}
.descripcion{
	padding: 6% 6% 0% 6%;
    font-size: 1.2em;
    letter-spacing: 0.2px;
}
.youtube{
	display: inline-block;
	margin-top: 2%;
	color: #834F65;
	font-weight: bold;
}
.youtube:hover{
	color: #6CB5AC;
	font-weight: bold;
	text-decoration: line-through;
}
.youtube a{
	text-decoration: none;
}
#changeWord{
	font-size: 4em;
	font-weight: bold;
	padding-top: 6%;
}
#changeWord span{
	color: #834F65;
	margin-left: 2%;
	font-family: "Bangers", cursive;
}
/*-----Habilidades---*/
#habSection{
	background-image: url("../img/habilidades.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
#habSection p:first-child{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.7em;
	margin-bottom: 3%;
} 
.power {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
}
.power i{margin-left: 22px;}
.icon-hab{padding: 2% 3%;}
.iconos{
	display: inline-block;
	width: 24%;
	padding: 2%;
}
.iconos img{width: 90%}
.cursos{
	font-family: "Bangers", cursive;
	font-size: 1.5em;
    letter-spacing: 1.5px;
    margin: 4% 0%;
    color: #444;
}
/*-----PROJECT-----*/
.imgProject{
	width: 90%;
	border-radius: 8px;
	visibility: visible;
    animation-duration: 4s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}

.tab-content .tab-pane {padding: 5% 4%;}
.portfolio-item {margin: 10px 0px 30px 0px;}

.projectText{
	padding: 2% 8%;
    letter-spacing: 0.2px;
    font-size: 1.1em;
}
.btn-project{
	border: 1px solid #666;
	margin: 2%;
	text-transform: uppercase;
}
/*-----contact------*/
.contacto{
	background-image: url("../img/contacto.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.contacto h2{
	color: #fff;
}
.contacto a{
	color: #fff;
	padding: 3% 0%;
}
.contacto a:hover{color: #6CB5AC;}
.contacto p{
	padding: 2% 6% 8% 6%;
	text-align: left;
}

/*-----footer----*/
.ending{
	background-color: #2a344e;
	color: #fff;
	padding: 2%;
	text-align: center;
}
.ending i {
	margin: 0% 1% 0% 1%;
	font-size: 1.2em;
}
.ending a{
	color: #fff;
	font-weight: bold;
}
.ending a:hover{color: #6CB5AC;}