@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

body{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*-----navbar-----*/
.navbar-fixed-side{
	background-color: #777;
	border: none;
}
.navbar-default .navbar-nav> li > a{
	color: #fff;
}
#lista{
	margin: 100% 0%;
}
.navbar-header > a > i{
	color: #fff;
}
.navbar-header button{
	background-color: #fff;
}
.navbar{
	margin-bottom: 0px;
}
/***-----HERO------*/
.heroIntro{
	background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
	padding-top: 50px;
}
.heroMessage{
	color: #FFF;
	position: relative;
	padding: 14% 0%;
}
.heroMessage h2{
	font-size: 3.5em;
	padding: 0 0 0.5em 0;
	font-family: "Pacifico", cursive;
}
.socialText{
	text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
}
/*-----PROJECT-----*/
.imgProject{
	width: 100%;
	border-radius: 8px;
}
.tab-content .tab-pane {
	padding: 5% 0%;
}
.portfolio-item {
    margin-bottom: 25px;
}
.card {
	cursor: pointer;
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card .side a{
	color: #777;
	font-size: 2em;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  text-align: center;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

/*-----About----*/
.perfil{
	background-image: url(../img/example.jpg);
	background-position: 30% 30%;
	background-repeat: no-repeat;
	height: 20em;
	cursor:pointer;
}
/*-----contact------*/
.borderContact{
	border-left: 1px solid #777;
}
/*-----footer----*/
.ending{
	background-color: #777;
	color: #fff;
	padding: 2% 0%;
	text-align: center;
	z-index: 2;
}
footer i {
	margin: 0% 2% 0% 0;
}
/****media***/

@media (max-width: 1024px){
    .navbar-brand{
    	padding: 5px 30px;
    }
}
@media (max-width: 982px){
	.socialText{
		letter-spacing: 0px;
	}
}
@media (max-width: 768px){
	#lista{
		margin: 0%;
	}
	.imgProject{
		width: 70%; 
	}
	 .borderContact{
		border-left: none;
	}
}

@media (max-width: 640px){
	p{
	 	font-size: 10px;
	 }
	.heroMessage h2{
		font-size: 2.5em;
	}
	 .navbar-brand{
    	padding: 5px 20px;
    }
}