@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

body{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*-----navbar-----*/
.navbar-default .navbar-nav> li > a:hover{

}
#lista{
	margin: 100% 0%;
}
/***-----HERO------*/
.heroIntro{
	background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
	padding-top: 50px;
}
.heroMessage{
	color: #FFF;
	position: relative;
	padding: 14% 0%;
}
.heroMessage h2{
	font-size: 3.5em;
	padding: 0 0.5em 0.6em 0.5em;
	font-family: "Pacifico", cursive;
}
.socialText{
	text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
}
/*-----PROJECT-----*/
.boxProject{
	padding: 2%; 
}
.imgProject{
	width: 80%;
	text-align: center; 
}
.tab-content .tab-pane {
	padding: 5% 0%;
}
.portfolio-item {
    margin-bottom: 25px;
}
/*-----About----*/
.perfil{
	background-image: url(../img/example.jpg);
	background-position: 30% 30%;
	background-repeat: no-repeat;
	height: 20em;
	cursor:pointer;
}
/*-----contact------*/
.borderContact{
	border-left: 1px solid #777;
}
/****media***/

@media (max-width: 1024px){
    
}
@media (max-width: 982px){

}
@media (max-width: 768px){
	#lista{
		margin: 0%;
	}
	.imgProject{
		width: 60%; 
	}
	 .borderContact{
		border-left: none;
	}
}

@media (max-width: 640px){
	p{
	 	font-size: 10px;
	 }
	.heroMessage h2{
		font-size: 2.5em;
	}
}