@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");
@import url('https://fonts.googleapis.com/css?family=Boogaloo');

/*--general--*/
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{font-family: "Lato","Helvetica Neue";}
a{color: #333;}
a:hover {
	text-decoration: none;
	color: #6CB5AC;
}
a:visited{
	text-decoration: none;
}
h2{margin-top: 14px;}

/*-----navbar-----*/
.navbar-change{
	background-color: transparent;
	border: none;
	padding: 0.7em;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a{color: #fff;}
.navbar-default .navbar-nav > li > a:hover{
	color: #6CB5AC;
	font-weight: bold;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-header .navbar-toggle:hover{
	background-color: transparent;
}
.navbar-default .navbar-brand{color: #fff;}
.navbar-default .navbar-brand:hover{color: #6CB5AC;}
/***-----HERO------*/
.heroIntro{
	background: url(../img/hero-bg.jpg);
	background-color: #777;
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
}
.heroMessage{
	color: #FFF;
	padding: 10% 10%;
	text-align: right;
}
.heroMessage h1{
	font-size: 6em;
	padding: 0 0 0.5em 0;
	font-family: "Pacifico", cursive;
	text-align: left;
}
.tipeo{
	text-align: center;
    font-size: 2.5em;
    margin-bottom: 4%;
}
.socialText{
	text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-align: center;
}
/********aboutSection******/
.perfil{
	background-image: url(../img/example.jpg);
	background-position: 30% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20em;
	cursor:pointer;
}
.descripcion{
	padding: 6% 6% 0% 6%;
    font-size: 1.2em;
    letter-spacing: 0.2px;
}
.youtube{
	display: inline-block;
	margin-top: 2%;
	color: #834F65;
	font-weight: bold;
}
.youtube:hover{
	color: #6CB5AC;
	font-weight: bold;
	text-decoration: line-through;
}
.youtube a{
	text-decoration: none;
}
#changeWord{
	font-size: 4em;
	font-weight: bold;
	padding-top: 6%;
}
#changeWord span{
	color: #834F65;
	margin-left: 2%;
	font-family: 'Boogaloo', cursive;
}
/*-----Habilidades---*/
#habSection{
	background-image: url("../img/habilidades.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#habSection p:first-child{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.7em;
	margin-bottom: 3%;
	font-weight: bold;
} 
.power {
	font-size: 2.6em;
	text-transform: uppercase;
	font-weight: bold;
}
.power i{
	color: #834F65;
	margin-left: 22px; 
	font-size: 1.6em;
}
.icon-hab{padding: 2% 3%;}
.iconos{
	display: inline-block;
	width: 24%;
	padding: 2%;
}
.iconos img{width: 70%}
.cursos{
	font-family: 'Boogaloo', cursive;
	font-size: 1.8em;
    margin: 4% 0%;
    color: #444;
    text-transform: uppercase;
}
/*-----PROJECT-----*/
.imgProject{
	width: 90%;
	border-radius: 8px;
	visibility: visible;
    animation-duration: 4s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
.tab-content .tab-pane {padding: 5% 4%;}
.portfolio-item {margin: 30px 0px;}
.nav-tabs {border-bottom: 1px solid #6CB5AC;}
.nav-tabs>li>a:hover{
	background-color: transparent;
	border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border: 1px solid #6CB5AC;
    border-bottom-color: transparent;
}
.projectText{
	padding: 2% 7%;
    letter-spacing: 0.2px;
    font-size: 1.1em;
}
.btn-project, .btn-project:hover{
	border: 1px solid #834F65;
	color: #834F65;
	margin: 2%;
	text-transform: uppercase;
}
/*-----contact------*/
.contacto{
	background-image: url("../img/contacto.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.contacto h2{
	color: #fff;
}
.contacto a{
	color: #fff;
	padding: 3% 0%;
}
.contacto a:hover{color: #6CB5AC;}
.contacto p{
	padding: 2% 6% 8% 6%;
	text-align: left;
}

/*-----footer----*/
.ending{
	background-color: #2a344e;
	color: #fff;
	padding: 3% 2%;
	text-align: center;
}
.ending i {
	margin: 0% 0.8% 0% 0.8%;
	font-size: 1em;
}
.ending a{color: #fff;}
.ending a:hover{color: #6CB5AC;}

/****media***/
@media (max-width: 1024px){
    .navbar-brand{padding: 10px 30px;}
    .navbar-default .navbar-collapse{background-color: transparent;}
}
@media (max-width: 982px){
	/* .socialText{letter-spacing: 0px;} */
	.heroMessage h1{font-size: 5em;}
}
@media (max-width: 882px){
	.heroMessage{padding: 8% 4%;}
}
@media (max-width: 767px){
	/*---NAVBAR---*/
	.navbar-change{padding: 0px;}
	.navbar-default .navbar-collapse{
		background-color: rgba(0, 0, 0, 0.5); 
	}
	/****HERO**/
	.heroMessage{padding: 10% 6%;}

	/******PROYECTOS*****/
	.imgProject{width: 75%;}
	.projectText{font-size: 1em;}
	/****habSection***/
	.iconos{width: 48%;}

	/******contacto****/
}
@media (max-width: 640px){
	/******NAVBAR*****/
	.navbar-brand img {display: none;}
	.navbar-brand{padding: 10px 20px;}

    /****HERO**/
	.heroMessage {
		text-align: center;
	    padding: 6% 4% 10% 4%;
	}
	.heroMessage h1{
		text-align: center;
		padding: 0 0 0.3em 0;
		font-size: 4em;
	}
    /****aboutSection**/
    #changeWord{
    	font-size: 2.5em;
    	padding-top: 3%;
    }

    /***habSection***/
    #habSection p:first-child{font-size: 1.2em;}
    .power {font-size: 2em;}
    
    /*****PROYECTOS***/
    .card .back a{font-size: 0.6em;}
}
@media (max-width: 480px){
	.tipeo{font-size: 1.5em;}
	.heroMessage h1{font-size: 3em;}
	.title{font-size: 2em;}
}
@media (max-width: 350px){
	.tipeo{font-size: 1em;}
	.heroMessage h1{font-size: 2em;}
	.cursos{font-size: 1em;}
}