@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

body{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	width: 100%;
	background-color: #f4f4f4;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*-----navbar-----*/
.navbar-change{
	background-color: #3D5C4A;
	border: none;
	padding: 5px 0px;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-header .navbar-toggle:hover{
	background-color: #BCCEB8;
}
/***-----HERO------*/
.heroIntro{
	/* background: url(../img/banner.jpg) no-repeat center center;
	    background-size: cover;
	    background-attachment: fixed;*/
	background-color: #3D5C4A;
	padding-top: 50px;
	/*padding-bottom: 20px; */
}
.heroMessage{
	color: #FFF;
	padding: 10% 0%;
	/* position: absolute;
	    top: 40px;
	    left: 0px;
	    width: 100%; */
}
.heroMessage h2{
	font-size: 4em;
	padding: 0 0 0.5em 0;
	font-family: "Pacifico", cursive;
}
.socialText{
	text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
}
/********ABOUT*******/
.perfil{
	background-image: url(../img/example.jpg);
	background-position: 30% 30%;
	background-repeat: no-repeat;
	height: 20em;
	cursor:pointer;
}
.aboutText{
	padding: 5% 6% 0% 6%;
	font-size: 1.2em;
	text-align: justify-all;
}
#changeWord{
	font-size: 3em;
	font-weight: bold;
	padding: 6% 0%;
}
#changeWord span{
	color: #834F65;
	margin-left: 2%;
	font-size: 1.2em;
}
/*-----Habilidades---*/
.skill{
	background-image: url(../img/cubes.png);
	background-repeat: repeat;
}
.skill p:first-child{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2em;
} 
.power {
	font-size: 3em;
	text-transform: uppercase;
}
.power i{
	margin-left: 22px;
}
.icon-hab{
	padding-right: 3%;
	padding-left: 3%;
}
.iconos{
	display: inline-block;
	width: 24%;
	padding: 2%;
}
/*-----PROJECT-----*/
.imgProject{
	width: 100%;
	border-radius: 8px;
}
.tab-content .tab-pane {
	padding: 5% 4%;
}
.portfolio-item {
    margin-bottom: 25px;
}
.card {
	cursor: pointer;
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card .back {
  background: #eaeaed;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  color: #777;
  font-size: 2em;
  text-transform: uppercase;
}
.col-sm-4 .card .back {
	font-size: 1.3em;
}
/*-----contact------*/
.borderContact{
	border-left: 1px solid #777;
}
/*-----footer----*/
.ending{
	background-color: #3D5C4A;
	color: #fff;
	padding: 3% 0%;
	text-align: center;
}
.ending i {
	margin: 0% 3% 0% 0;
	font-size: 1.4em;
}

/****media***/
@media (max-width: 1024px){
    .navbar-brand{
    	padding: 5px 30px;
    }
}
@media (max-width: 982px){
	.socialText{
		letter-spacing: 0px;
	}
}
@media (max-width: 882px){
	/* .heroMessage{
		padding: 8% 0%;
	} */
}
@media (max-width: 768px){
	/*---NAVBAR---*/
	.navbar-change{
		padding: 0px;
	}
	/* ***HERO**
	.heroMessage{
		padding: 6% 0%;
	} */
	/*-----about----*/
	
	/******PROYECTOS*****/
	.card{
		width: 70%;
	}
	.imgProject{
		width: 70%; 
	}
	/****SKILL***/
	.iconos{
		width: 48%;
	}
	/******CONTACTO****/
	.borderContact{
		border-left: none;
	}
}
@media (max-width: 680px){
	/* ***HERO**
	.heroMessage{
		padding: 6% 0%;
	}
}
@media (max-width: 640px){
	/* ***HERO**
	.heroMessage{
		padding: 4% 0%;
	} */
	/******NAVBAR*****/
	.navbar-brand img {
		display: none;
	}
	.heroMessage h2{
		font-size: 2.5em;
	}
	.navbar-brand{
    	padding: 5px 20px;
    }
    /****ABOUT**/
    #changeWord{
		font-size: 2em;
	}
    /***SKILL***/
    #skill p:first-child{
		font-size: 1em;
	}
    .power {
		font-size: 2em;
	}
    /*****PROYECTOS***/
    .col-sm-6 .card .back{
    	font-size: 1.3em;
    }
}