@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");
@import url('https://fonts.googleapis.com/css?family=Boogaloo');

/*--general--*/
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{font-family: "Lato","Helvetica Neue";}
a{color: #333;}
a:hover {
	text-decoration: none;
	color: #6CB5AC;
}
a:visited{text-decoration: none;}
h2{margin-top: 14px;}
/*---loading---*/
.cargar{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background: url(../assets/img/iconos/load.gif) center no-repeat #fff;
}

/*-----navbar-----*/
.navbar-change{
	background-color: transparent;
	border: none;
	padding: 0.2em 0.7em 0.7em 0.7em;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a{color: #fff;}
.navbar-default .navbar-nav > li > a:hover{
	color: #6CB5AC;
	font-weight: bold;
}
.navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
.navbar-header .navbar-toggle:hover{background-color: transparent;}
.navbar-default .navbar-brand{color: #fff;}
.navbar-default .navbar-brand:hover{color: #6CB5AC;}
.navbar-brand img {
	margin-top: 0%;
	margin-left: 5%;
	width: 30%;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    border-bottom: 3px solid #6CB5AC;
    color: #fff;
    background: transparent;
}
/***-----HERO------*/
.heroIntro{
	background: url(../assets/img/hero-bg.jpg);
	background-color: #777;
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 80px;
    height: 100vh;
}
.heroMessage{
	color: #FFF;
	padding: 8% 10%;
	text-align: right;
}
.heroMessage h1{
	font-size: 6em;
	padding: 0 0 0.5em 0;
	font-family: "Pacifico", cursive;
	text-align: left;
}
.tipeo{
	text-align: center;
    font-size: 2.5em;
    margin-bottom: 4%;
}
.socialText{
    font-size: 1.1em;
    letter-spacing: 2px;
    text-align: center;
}
/********aboutSection******/
/* .perfil{
	background-image: url(../assets/img/perfil.jpg);
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20em;
	margin: 5%;
	cursor:pointer;
} */
.aboutBox{padding: 2% 2% 6% 2%;}
.descripcion{
	padding: 3.5% 0% 1% 0%;
    font-size: 1.3em;
    letter-spacing: 0.2px;
}
.perfil-img{
	width: 75%;
    height: auto;
    margin: 1em 0
}
.youtube, .youtube:visited{
	display: inline-block;
	color: #52968e;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.youtube:hover{
	color: #834F65;
}
#changeWord{
	font-size: 4em;
	font-weight: bold;
	padding-top: 35px;
}
#changeWord span{
	color: #47877f;
	margin-left: 2%;
	font-family: 'Boogaloo', cursive;
}
/*-----Habilidades---*/
#habSection{
	background-image: url("../assets/img/habilidades.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#habSection p:first-child{
	letter-spacing: 2px;
	font-size: 1.7em;
	/*margin-bottom: 3%;*/
	font-weight: bold;
} 
.power {
	font-size: 2.6em;
	font-weight: bold;
}
.power i{
	color: #52968e;
	margin-left: 15px; 
	font-size: 1.6em;
}
.icon-hab{padding: 2% 3%;}
.iconos{
	display: inline-block;
	width: 24%;
	padding: 2%;
}
.iconos-img{width: 70%}
.cursos{
	font-family: 'Boogaloo', cursive;
	font-size: 1.8em;
    margin: 4% 0%;
    color: #444;
    text-transform: uppercase;
}
/*-----PROJECT-----*/
.imgProject{
	width: 90%;
	border-radius: 8px;
	visibility: visible;
    animation-duration: 4s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
.tab-content .tab-pane {padding-left: 4%; padding-right: 4%;}
.portfolio-item {margin: 30px 0px;}
.nav-tabs {
	border-bottom: 2px solid #6CB5AC;
	text-align: center;
}
.nav-tabs>li{
	display: inline-block;
	float: none;
}
.nav-tabs>li>a:hover{
	background-color: transparent;
	border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #6CB5AC;
    color: #fff;
    font-weight: bold;
}
.projectText{
	padding: 2% 7%;
    letter-spacing: 0.2px;
    font-size: 1.1em;
}
.btn-project, .btn-project:hover, .btn-project:visited{
	background-color: #834F65;
	color: #ffffff;
	margin: 2%;
	text-transform: uppercase;
}
/*-----contact------*/
.contacto{
	background-image: url("../assets/img/contacto.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.contacto h2{color: #fff;}
.contacto a{
	color: #fff;
	padding: 3% 0%;
}
.contacto a:hover{color: #6CB5AC;}
.contacto p{
	padding: 2% 4% 4% 2%;
	font-size: 1.5em;
}
/*-----footer----*/
.ending{
	background-color: #2a344e;
	color: #fff;
	padding: 15px 12px;
}
.ending a{color: #fff;}
.ending a:hover{color: #6CB5AC;}
.ending p{margin: 0px;}

/****media***/
@media (max-width: 1024px){
    .navbar-brand{padding: 10px 30px;}
    .navbar-default .navbar-collapse{background-color: transparent;}
}
@media (max-width: 982px){
	/* .socialText{letter-spacing: 0px;} */
	.heroMessage h1{font-size: 5em;}
}
@media (max-width: 882px){
	.heroMessage{padding: 8% 4%;}
}
@media (max-width: 767px){
	/*---NAVBAR---*/
	.navbar-default .navbar-collapse{
		background-color: #31416c;
		padding: 30vh 10%;
    	max-height: 100vh;
	}
	/****HERO**/
	.heroMessage{padding: 10% 6%;}

	/******PROYECTOS*****/
	.imgProject{width: 75%;}
	.projectText{font-size: 1em;}
	/****habSection***/
	.iconos{width: 48%;}
	.iconos-img {width: 50%;}
	/******contacto****/
}
@media (max-width: 640px){
	/******NAVBAR*****/
	/* .navbar-brand img {display: none;} */
	.navbar-brand{padding: 7px 20px;}
	.navbar-brand img{
		margin-top: 3%;
		width: 22%;
	}
    /****HERO**/
	.heroMessage {
		text-align: center;
	    padding: 6% 4% 10% 4%;
	}
	.heroMessage h1{
		text-align: center;
		padding: 0 0 0.3em 0;
		font-size: 4em;
	}
    /****aboutSection**/
    #changeWord{font-size: 2.5em;}

    /***habSection***/
    #habSection p:first-child{font-size: 1.2em;}
    .power {font-size: 2em;}
    
    /*****PROYECTOS***/
    .card .back a{font-size: 0.6em;}
    /****footer****/
    .contacto p{font-size: 1.1em;}
}
@media (max-width: 480px){
	.tipeo{font-size: 1.5em;}
	.heroMessage h1{font-size: 3em;}
	.title{font-size: 2em;}
	#changeWord{font-size: 2em;}
}
@media (max-width: 350px){
	.tipeo{font-size: 1em;}
	.heroMessage h1{font-size: 2em;}
	.cursos{font-size: 1em;}
}