/****media***/
@media (max-width: 1024px){
    .navbar-brand{padding: 5px 30px;}
    .navbar-default .navbar-collapse{background-color: transparent;}
}
@media (max-width: 982px){
	/* .socialText{letter-spacing: 0px;} */
	.heroMessage h1{font-size: 5em;}
}
@media (max-width: 882px){
	.heroMessage{padding: 8% 4%;}
}
@media (max-width: 767px){
	/*---NAVBAR---*/
	.navbar-change{padding: 0px;}
	.navbar-default .navbar-collapse{
		background-color: rgba(0, 0, 0, 0.5); 
	}
	/****HERO**/
	.heroMessage{padding: 10% 6%;}

	/******PROYECTOS*****/
	.imgProject{width: 75%;}
	.projectText{font-size: 1em;}
	/****habSection***/
	.iconos{width: 48%;}

	/******contacto****/
}
@media (max-width: 640px){
	/******NAVBAR*****/
	.navbar-brand img {display: none;}
	.navbar-brand{padding: 5px 20px;}

    /****HERO**/
	.heroMessage {
		text-align: center;
	    padding: 6% 4% 10% 4%;
	}
	.heroMessage h1{
		text-align: center;
		padding: 0 0 0.3em 0;
		font-size: 4em;
	}
    /****aboutSection**/
    #changeWord{
    	font-size: 2.5em;
    	padding-top: 3%;
    }

    /***habSection***/
    #habSection p:first-child{font-size: 1.2em;}
    .power {font-size: 2em;}
    
    /*****PROYECTOS***/
    .card .back a{font-size: 0.6em;}
}
@media (max-width: 480px){
	.tipeo{font-size: 1.5em;}
	.heroMessage h1{font-size: 3em;}
	.title{font-size: 2em;}
}
@media (max-width: 350px){
	.tipeo{font-size: 1em;}
	.heroMessage h1{font-size: 2em;}
}