/*--display--*/
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dNone{display: none;}

/*----background----*/
.grisClaro{background-color: #F2F2F2;}
.grisOscuro{background-color: #777;}
.bg-blanco{background-color: #fff;}

/*-------color---*/
.white{color: #fff;}
.botones{
	border: 1px solid #fff;
	color: #fff;
	padding: 2% 3%;
    font-size: 1.3em;
}
.botones:hover{color: #fff;}
.botones:visited{
	border: 1px solid #fff;
	color: #fff;
	padding: 2% 3%;
    font-size: 1.3em;
}
/*-------otros--------*/
.h-vh{height: 100vh;}
.dashed{border-bottom: 2px dashed #777;}
.m-3{margin: 3% 3% 3% 0%;}
.pd{padding: 8% 2%;}
.ws{white-space: pre;}
.title{
	font-family: 'Boogaloo', cursive;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 6%;
	font-size: 3.5em;
	color: #333;
	border-bottom: 4px solid #6CB5AC;
}