/*--display--*/
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
hr{border-top: 3px solid #eee;}
/*----background----*/
.grisClaro{background-color: #F2F2F2;}
.grisOscuro{background-color: #777;}
.bg-blanco{background-color: #fff;}

/*----botones---*/
.botones{
	border: 1px solid #fff;
	color: #fff;
	padding: 2% 3%;
    font-size: 1.3em;
}
.botones:hover{color: #fff;}
.botones:visited{
	border: 1px solid #fff;
	color: #fff;
	padding: 2% 3%;
    font-size: 1.3em;
}
/*-------otros--------*/
.h-vh{height: 100vh;}
.dNone{display: none;}
.white{color: #fff;}
.icon-final{
	margin: 0% 1.3% 0% 1.3%;
	font-size: 1em;
}
.dashed{border-bottom: 2px dashed #777;}
.m-3{margin: 3% 3% 3% 0%;}
.pd{padding: 6% 2%;}
.ws{white-space: pre;}
.title{
	border-bottom: 3px solid #6CB5AC;
	display: inline-block;
	color: #333;
	margin-bottom: 4%;
	font-family: 'Boogaloo', cursive;
	font-size: 3.5em;
}