/*-- CSS PARA SCROLLBAR--*/
a{
	color: #777;
}
a:hover {
	text-decoration: none;
	color: #000;
}
/*--display--*/
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dNone{
	display: none;
}
/*----background----*/
.grisClaro{
	background-color: #F2F2F2;
}
.grisOscuro{
	background-color: #777;
}
.bg-blanco{
	background-color: #fff;
}
/*-------color---*/
.white{
	color: #fff;
}
/*---------------*/
.h-vh{
	height: 100vh;
}
.dashed{
	border-bottom: 2px dashed #000;
}
.m-3{
	margin: 3%;
}
.p-5{
	padding: 5% 0%;
}
.title{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 5%;
}