/*--general--*/
a{color: #333;}
a:hover {
	text-decoration: none;
	color: #6CB5AC;
}
a:visited{
	text-decoration: none;
}
h2{margin-top: 14px;}

/*--display--*/
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dNone{display: none;}

/*----background----*/
.grisClaro{background-color: #F2F2F2;}
.grisOscuro{background-color: #777;}
.bg-blanco{background-color: #fff;}

/*-------color---*/
.white{color: #fff;}
.botones{
	border: 1px solid #fff;
	color: #fff;
	padding: 2% 3%;
    font-size: 1.3em;
}
.botones:hover{color: #fff;}
.botones:visited{
	border: 1px solid #fff;
	color: #fff;
	padding: 2% 3%;
    font-size: 1.3em;
}

/*-------otros--------*/
.h-vh{height: 100vh;}
.dashed{border-bottom: 2px dashed #000;}
.m-3{margin: 3% 3% 3% 0%;}
.pd{padding: 8% 2%;}
.ws{white-space: pre;}
.title{
	font-family: "BebasNeue";
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 3.5%;
	font-size: 4em;
	color: #333;
}