/*-- CSS PARA SCROLLBAR--*/
a{
	color: #777;
}
a:hover {
	text-decoration: none;
	color: #000;
}
/*----*/
.dashed{
	border-bottom: 1.5px dashed #000;
}
.bg{
	background-color: #F2F2F2;
}
.m-3{
	margin: 3%;
}
.p-5{
	padding: 5% 0%;
}
.title{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 5%;
}